---
http_interactions:
- request:
    method: get
    uri: http://fsa-rp-test.epimorphics.net/regulated-products/id/feed-additives/category?_all=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
      sleuth-trace-id:
      - 19ad200fed748ff5
      sleuth-span-id:
      - 19ad200fed748ff5
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"@id":"http://data.food.gov.uk/regulated-products/id/feed-additives/category?_all=true","publisher":"Food
        Standards Agency","license":"http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/","licenseName":"OGL
        3","comment":"","version":"0.1","hasFormat":["http://data.food.gov.uk/regulated-products/id/feed-additives/category.rdf?_all=true","http://data.food.gov.uk/regulated-products/id/feed-additives/category.ttl?_all=true","http://data.food.gov.uk/regulated-products/id/feed-additives/category.html?_all=true","http://data.food.gov.uk/regulated-products/id/feed-additives/category.csv?_all=true","http://data.food.gov.uk/regulated-products/id/feed-additives/category.json?_all=true","http://data.food.gov.uk/regulated-products/id/feed-additives/category.geojson?_all=true"]},"items":[{"@id":"http://data.food.gov.uk/regulated-products/id/feed-additives/category/2a-i","broader":[{"@id":"http://data.food.gov.uk/regulated-products/id/feed-additives/category/2a"}],"inScheme":[{"@id":"http://data.food.gov.uk/regulated-products/id/feed-additives/category"}],"notation":["2a-i"],"type":[{"@id":"http://data.food.gov.uk/regulated-products/def/core/UsageCategory"}],"dateTimeStamp":"2020-07-02","prefLabel":["substances
        that add or restore colour in feedingstuffs"]},{"@id":"http://data.food.gov.uk/regulated-products/id/feed-additives/category/2a","broader":[{"@id":"http://data.food.gov.uk/regulated-products/id/feed-additives/category/2"}],"inScheme":[{"@id":"http://data.food.gov.uk/regulated-products/id/feed-additives/category"}],"narrower":[{"@id":"http://data.food.gov.uk/regulated-products/id/feed-additives/category/2a-i"},{"@id":"http://data.food.gov.uk/regulated-products/id/feed-additives/category/2a-iii"},{"@id":"http://data.food.gov.uk/regulated-products/id/feed-additives/category/2a-ii"}],"notation":["2a"],"type":[{"@id":"http://data.food.gov.uk/regulated-products/def/core/UsageCategory"}],"dateTimeStamp":"2020-07-02","prefLabel":["colourants"]},{"@id":"http://data.food.gov.uk/regulated-products/id/feed-additives/category/2","inScheme":[{"@id":"http://data.food.gov.uk/regulated-products/id/feed-additives/category"}],"narrower":[{"@id":"http://data.food.gov.uk/regulated-products/id/feed-additives/category/2b"},{"@id":"http://data.food.gov.uk/regulated-products/id/feed-additives/category/2a"}],"notation":["2"],"topConceptOf":[{"@id":"http://data.food.gov.uk/regulated-products/id/feed-additives/category"}],"type":[{"@id":"http://data.food.gov.uk/regulated-products/def/core/UsageCategory"}],"dateTimeStamp":"2020-07-02","definition":["any
        substance, the addition of which to feed improves or changes the organoleptic
        properties of the feed, or the visual characteristics of the food derived
        from animals"],"prefLabel":["Sensory additives"]},{"@id":"http://data.food.gov.uk/regulated-products/id/feed-additives/category/2a-ii","broader":[{"@id":"http://data.food.gov.uk/regulated-products/id/feed-additives/category/2a"}],"inScheme":[{"@id":"http://data.food.gov.uk/regulated-products/id/feed-additives/categor[...]
