---
http_interactions:
- request:
    method: get
    uri: https://fsa-rp-test.epimorphics.net//regulated-products/id/wombles.json?_limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      sleuth-trace-id:
      - 3ee1ca3ae8f4088f
      sleuth-span-id:
      - 3ee1ca3ae8f4088f
    body:
      encoding: UTF-8
      string: |-
        {
          "timestamp" : "Fri Mar 11 17:08:49 GMT 2022",
          "status" : "404",
          "error" : "Not Found",
          "message" : "Requested endpoint doesn't exist",
          "path" : "//regulated-products/id/wombles.json"
        }
  recorded_at: Fri, 11 Mar 2022 17:08:49 GMT
- request:
    method: get
    uri: https://fsa-rp-test.epimorphics.net//wimbledon/id/wombles.json?_limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      content-type:
      - text/html; charset=utf-8
      location:
      - "/wimbledon/id/wombles.json?_limit=1"
    body:
      encoding: UTF-8
      string: "<a href=\"/wimbledon/id/wombles.json?_limit=1\">Moved Permanently</a>.\n\n"
  recorded_at: Fri, 11 Mar 2022 17:12:40 GMT
- request:
    method: get
    uri: https://fsa-rp-test.epimorphics.net/wimbledon/id/wombles.json?_limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: default backend - 404
  recorded_at: Fri, 11 Mar 2022 17:12:40 GMT
recorded_with: VCR 6.0.0
