---
http_interactions:
- request:
    method: get
    uri: https://fsa-dev-rp.epimorphics.net/regulated-products/id/feed-additives/additive/womble?_limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "timestamp" : "Tue Sep 01 16:53:59 GMT 2026",
          "status" : "404",
          "error" : "Not Found",
          "message" : "No results found",
          "path" : "/regulated-products/id/feed-additives/additive/womble"
        }
  recorded_at: Tue, 01 Sep 2026 16:53:59 GMT
recorded_with: VCR 6.4.0
