---
http_interactions:
- request:
    method: get
    uri: https://fsa-dev-rp.epimorphics.net/regulated-products/id/regime
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta":{"@id":"https://fsa-dev-rp.epimorphics.net/regulated-products/id/regime","publisher":"Food
        Standards Agency","license":"http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/","licenseName":"OGL
        3","comment":"","version":"2.0.3-SNAPSHOT","hasFormat":["https://fsa-dev-rp.epimorphics.net/regulated-products/id/regime.json","https://fsa-dev-rp.epimorphics.net/regulated-products/id/regime.html","https://fsa-dev-rp.epimorphics.net/regulated-products/id/regime.csv","https://fsa-dev-rp.epimorphics.net/regulated-products/id/regime.rdf","https://fsa-dev-rp.epimorphics.net/regulated-products/id/regime.ttl"]},"items":[{"@id":"http://data.food.gov.uk/regulated-products/id/regime/food-contact-materials","governingLegislation":[{"@id":"http://data.food.gov.uk/regulated-products/id/regime/food-contact-materials/governingLegislation","prefLabel":"Commission
        Regulation (EU) No 10/2011","downloadURL":{"@id":"https://www.legislation.gov.uk/eur/2011/10"},"title":"Commission
        Regulation (EU) No 10/2011 of 14 January 2011 on plastic materials and articles
        intended to come into contact with food (Text with EEA relevance)","comment":"There
        are currently no known outstanding effects by UK legislation for Commission
        Regulation (EU) No 10/2011.","type":[{"@id":"http://data.food.gov.uk/regulated-products/def/core/Document"}]}],"lastModified":"2025-10-13","regimeRegulationSubClass":[{"@id":"http://data.food.gov.uk/regulated-products/def/food-contact-materials/FoodContactMaterialAuthorisation"}],"substanceGroups":[{"@id":"http://data.food.gov.uk/regulated-products/id/food-contact-materials/group/29"},{"@id":"http://data.food.gov.uk/regulated-products/id/food-contact-materials/group/30"},{"@id":"http://data.food.gov.uk/regulated-products/id/food-contact-materials/group/31"},{"@id":"http://data.food.gov.uk/regulated-products/id/food-contact-materials/group/10"},{"@id":"http://data.food.gov.uk/regulated-products/id/food-contact-materials/group/32"},{"@id":"http://data.food.gov.uk/regulated-products/id/food-[...]
