---
http_interactions:
- request:
    method: get
    uri: https://fsa-dev-rp.epimorphics.net/regulated-products/id/feed-additives/category?_all=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta":{"@id":"https://fsa-dev-rp.epimorphics.net/regulated-products/id/feed-additives/category?_all=true","publisher":"Food
        Standards Agency","license":"http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/","licenseName":"OGL
        3","comment":"","version":"2.0.3-SNAPSHOT","hasFormat":["https://fsa-dev-rp.epimorphics.net/regulated-products/id/feed-additives/category.geojson?_all=true","https://fsa-dev-rp.epimorphics.net/regulated-products/id/feed-additives/category.xls?_all=true","https://fsa-dev-rp.epimorphics.net/regulated-products/id/feed-additives/category.csv?_all=true","https://fsa-dev-rp.epimorphics.net/regulated-products/id/feed-additives/category.json?_all=true","https://fsa-dev-rp.epimorphics.net/regulated-products/id/feed-additives/category.rdf?_all=true","https://fsa-dev-rp.epimorphics.net/regulated-products/id/feed-additives/category.html?_all=true","https://fsa-dev-rp.epimorphics.net/regulated-products/id/feed-additives/category.ttl?_all=true"]},"items":[{"@id":"http://data.food.gov.uk/regulated-products/id/feed-additives/category/2","category":"2","inScheme":[{"@id":"http://data.food.gov.uk/regulated-products/id/feed-additives/category"}],"narrower":[{"@id":"http://data.food.gov.uk/regulated-products/id/feed-additives/category/2a"},{"@id":"http://data.food.gov.uk/regulated-products/id/feed-additives/category/2b"}],"notation":"2","topConceptOf":[{"@id":"http://data.food.gov.uk/regulated-products/id/feed-additives/category"}],"dateTimeStamp":"2026-07-10","ordinal":"Z.02.00.00","type":[{"@id":"http://data.food.gov.uk/regulated-products/def/core/UsageCategory"}],"prefLabel":["Sensory"]},{"@id":"http://data.food.gov.uk/regulated-products/id/feed-additives/category/2a","category":"2","fgroup":"a","broader":[{"@id":"http://data.food.gov.uk/regulated-products/id/feed-additives/category/2"}],"inScheme":[{"@id":"http://data.food.gov.uk/regulated-products/id/feed-additives/category"}],"notation":"2a","dateTimeStamp":"2026-07-10","ordinal":"Z.02.01.00","type":[{"@id":"http://data.food.gov.uk/regulated-products/def/core/UsageCategory"}],"prefLabel":["Colourants"]},{"@id":"http://data.food.gov.uk/regulated-products/id/feed-additives/category/2b","category":"2","fgroup":"b","broader":[{"@id":"http://data.f[...]
