---
http_interactions:
- request:
    method: get
    uri: https://fsa-dev-rp.epimorphics.net/regulated-products/id/feed-additives/additive?_limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta":{"@id":"https://fsa-dev-rp.epimorphics.net/regulated-products/id/feed-additives/additive?_limit=1","publisher":"Food
        Standards Agency","license":"http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/","licenseName":"OGL
        3","comment":"","version":"2.0.3-SNAPSHOT","hasFormat":["https://fsa-dev-rp.epimorphics.net/regulated-products/id/feed-additives/additive.json?_limit=1","https://fsa-dev-rp.epimorphics.net/regulated-products/id/feed-additives/additive.rdf?_limit=1","https://fsa-dev-rp.epimorphics.net/regulated-products/id/feed-additives/additive.geojson?_limit=1","https://fsa-dev-rp.epimorphics.net/regulated-products/id/feed-additives/additive.ttl?_limit=1","https://fsa-dev-rp.epimorphics.net/regulated-products/id/feed-additives/additive.xls?_limit=1","https://fsa-dev-rp.epimorphics.net/regulated-products/id/feed-additives/additive.csv?_limit=1","https://fsa-dev-rp.epimorphics.net/regulated-products/id/feed-additives/additive.html?_limit=1"],"limit":1},"items":[{"@id":"http://data.food.gov.uk/regulated-products/id/feed-additives/additive/hash/d2fcf4b33a4676f5a9e61d1aa8856c8528fd3d02","casNo":[{"@id":"http://data.food.gov.uk/regulated-products/id/codespace/cas/78-83-1","code":"78-83-1","ordinal":78831}],"feedAddCodeNo":[{"@id":"http://data.food.gov.uk/regulated-products/id/codespace/eu-feed-additives/2b02001"}],"inScheme":[{"@id":"http://data.food.gov.uk/regulated-products/id/feed-additives/additive"}],"notation":"d2fcf4b33a4676f5a9e61d1aa8856c8528fd3d02","idCode":[{"@id":"http://data.food.gov.uk/regulated-products/id/codespace/eu-feed-additives/2b02001","code":"2b02001","ordinal":"2b02001"}],"searchText":["2-Methylpropan-1-ol
        / CAS No. 78-83-1 / FLAVIS No: 02.001 2b02001"],"description":["2-Methylpropan-1-ol
        / CAS No. 78-83-1 / FLAVIS No: 02.001"],"type":[{"@id":"http://data.food.gov.uk/regulated-products/def/core/Substance"},{"@id":"http://data.food.gov.uk/regulated-products/def/feed-additives/FeedAdditive"}],"prefLabel":["2-Methylpropan-1-ol
        / CAS No. 78-83-1 / FLAVIS No: 02.001"]}]}'
  recorded_at: Tue, 01 Sep 2026 16:53:57 GMT
- request:
    method: get
    uri: https://fsa-dev-rp.epimorphics.net/regulated-products/id/feed-additives/additive?_limit=10&casNo=http%3A%2F%2Fdata.food.gov.uk%2Fregulated-products%2Fid%2Fcodespace%2Fcas%2F78-83-1&casNo=http%3A%2F%2Fdata.food.gov.uk%2Fregulated-products%2Fid%2Fcodespace%2Fcas%2F2785-89-9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
[...]
